* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff') format('woff');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto_boldcondensed_macroman/RobotoCondensed-Bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --primary: #5cbd2f;
    --secondary: #5ca2f8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0% 3%;
}

h1 {
    @font-face {
        font-family: 'Roboto';
        src: url('roboto_bold_macroman/Roboto-Bold-webfont') format('woff');
        font-style: normal;
        font-weight: 500;
    }
}

h2 {
    @font-face {
        font-family: 'Roboto';
        src: url('roboto_medium_macroman/Roboto-Medium-webfont') format('woff');
        font-style: normal;
        font-weight: 250;
    }
}

p {
    line-height: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}

.menu {
    margin: 15px 15px;
    font-size: 1.2em;
}

.menu__item {
    list-style-type: none;
}

.logo {
    margin: 15px 15px;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 10px;
    margin-bottom: 100px;
}

.main-page__header,
.main-page__paragr {
    text-align: center;
    line-height: normal;
    font-size: 1em;
}

.main-logo {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 6em;
}

.call-to-action {
    text-align: center;
    line-height: 0.5em;
    font-size: 1.5em;
}

.call-to-action__first-line {
    color: var(--primary);
    line-height: 1em;
    font-weight: 700;
    font-size: 1.5em;
}

.call-to-action__last-line {
    color: var(--secondary);
    line-height: 1em;
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.about {
    line-height: 2em;
}


.form-fieldset {
    border: 1px solid var(--primary);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type=text],
input[type=email],
input[type=radio],
select,
textarea,
input[type=checkbox] {
    border: 1px solid var(--secondary);
}

.info__item {
    margin: auto 1em;
    padding-top: 0.5em;
    line-height: 1.5em;
    padding: 1em;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize:vertical;
}

input[type=radio] {
    width: 7%;
}

select {
    width: 100%;
    border: 1px solid var(--secondary);
    padding: 0.25em 0.2em;
    border-radius: 0.25em;
}

.info__item input[type=text],
.info__item input[type=email] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.grid-container {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1%;
}

.other-check:first-child {
    margin-bottom: 1em;
}

.sub {
    width: 6em;
    height: 2em;
    border: 1px solid var(--primary);
    color: var(--secondary);
    text-decoration: solid;
    margin: 2em auto 1em auto;
    font-size: 0.9em;
}

.our-descript {
    margin-bottom: 1.5em;
}

.our-descript:last-of-type {
    padding-top: 0.5em;
    margin-bottom: 0;
    text-align: center;
}

.our-descript-last {
    font-size: larger;
}


.project-container {
    display: grid;
    grid-template-rows: [higher] auto [lower] auto [even-lower] auto [floor] auto [ground];
    grid-template-columns: [begin] auto [finish];
    justify-content: center;
    align-content: center;
}

.separator {
    display: inline-flex;
    justify-content: center;
    margin: 0em auto 2em auto;
}

.bi {
    font-size: 1.5em;
}

.bi-tree-fill {
    color: var(--primary);
}

.bi-heart {
    color: palevioletred;
}

.bi-droplet-half {
    color: var(--secondary);
}


.theproject {
    display: inline-grid;
    grid-template-rows: [first] 2em [second] auto [third] max-content [forth];
    grid-template-columns: [on-left] 1fr [on-right];
    align-content: center;
    justify-content: center;

}
#title {
    grid-row: first;
    grid-column: on-left;
}
#image {
    grid-row: second;
    grid-column: on-left;
}
#descript {
    grid-row: third;
    grid-column: on-left;
}

.theproject__title {
    justify-self: center;
}
.theproject__image {
    overflow: hidden;
    justify-self: center;
    border: 1px solid var(--primary)
}
.theproject__descript {
    margin-top: 1.5em;
}


.contacts__item {
    margin-bottom: 1em;
    p {
        line-height: 1.3em;
    }
}

.contacts :last-child {
    margin-bottom: 0;
}

.info,
.about,
.project-container,
.contacts {
    margin-top: 4em;
    margin-bottom: 6em;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
}
.copy {
    margin: 0;
}

a:link {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    text-decoration: underline;
    color: green;
}

a:active {
    text-decoration: none;
    color: var(--primary);
}

a:visited:active {
    text-decoration: none;
    color: var(--primary);
}

@media only screen and (min-width: 750px) {
    .main-logo {
        max-width: 50vw;
    }
    .menu__nav {
        display: inline-flex;
        flex-direction: row;
    }
    .menu__item {
        padding-left: 10px;
        margin-left: 50px;
    }

    .the-title {
        margin-top: 1em;
    }

    .contacting {
        margin-left: 25%;
        margin-right: 25%;
    }

    .form-fieldset {
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        margin-left: 15%;
        margin-right: 15%;
    }

    input[type=text],
    input[type=email] {
        display: block;
        width: max-content;
    }

    select {
        width: 70%;
    }

    input[type=radio] {
        width: 5%;
    }

    textarea {
        display: block;
        width: 70%;
    }

    .theproject__descript {
        margin: 3em 15%;
    }

}

@media only screen and (max-width: 749px) {

    .the-title {
        margin-top: 0.7em;
    }
    .info {
        margin-left: 5%;
        margin-right: 5%;
    }

    .sub {
        margin: 2em auto;
    }

    .info__item input[type=text],
    .info__item input[type=email] {
    width: 100%;
    }

    .separator {
        display: inline-flex;
        justify-content: center;
        padding-top: 1em;
        margin: 0.2em auto 2em auto;
    }
    
}